<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to WorkOn!</h1>
    <p>This is the home page for the WorkOn backend.</p>
  </body>
</html>
